<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'dataapp/css/principal.css' %}" />
    <link rel="stylesheet" href="{% static 'dataapp/css/carroCompra.css' %}" />
    <title>Tienta Mascotas</title>
</head>

<body>
    <!-- Incio Navegacion -->
    <header class="header">
        <nav class="nav">
            <div class="total" href="{% url 'carrito' %}" type="button">Sin Compras</div>
            <a href="{% url 'index' %}" class="logo nav-link"></a>
            <button class="nav-toggle" aria-label="Abrir menú">
                <i class="fas fa-bars"></i>
            </button>
            <ul class="nav-menu">
                <li class="nav-menu-item" role="presentation">
                    <a href="{% url 'index' %}" class="nav-menu-link nav-link">Inicio</a>
                </li>
                <li class="nav-menu-item" role="presentation"><a href="{% url 'perro' %}"
                        class="nav-menu-link nav-link">Perro</a>
                </li>
                <li class="nav-menu-item" role="presentation"><a href="{% url 'gato' %}"
                        class="nav-menu-link nav-link">Gato</a>
                </li>
                <li class="nav-menu-item" role="presentation">
                    <a href="{% url 'sesion' %}" class="nav-menu-link nav-link">Iniciar Sesión</a>
                </li>
                <li class="nav-menu-item" role="presentation">
                    <a href="{% url 'nosotros' %}" class="nav-menu-link nav-link">Nosotros</a>
                </li>
                <li class="nav-menu-item" role="presentation">
                    <a href="{% url 'contactanos' %}" class="nav-menu-link nav-link">Contacto</a>
                </li>
                <li class="nav-menu-item" role="presentation">
                    <a href="{% url 'dona' %}" class="nav-menu-link nav-link">Donaciones</a>
                </li>
                <li class="nav-menu-item" role="presentation">
                    <a href="{% url 'carrito' %}" class="nav-menu-link nav-link">Carrito</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- Fin Navegacion -->

    <div class="alert container position-sticky top-0 alert-primary hide" role="alert">
        Producto Añadido al carrito exitosamente!
    </div>
    <div class="alert container position-sticky top-0 alert-danger remove" role="alert">
        Producto Descontado exitosamente!
    </div>

    <br>
    <table class="table table-dark table-hover">
        <thead>
            <tr class="text-primary">
                <th scope="col">#</th>
                <th scope="col">Productos</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
            </tr>
        </thead>
        <tbody class="tbody">
        </tbody>
    </table>
    <br><br>
    <div class="row mx-4 btncomprar">
        <div class="col">
            <h3 class="itemCartTotal text-white itemCartTotal">Total: 0</h3>
        </div>
        <div class="col d-flex justify-content-end">
            <a href="{% url 'pagar' %}" class="btn btn-success">COMPRAR</a>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

    <script src="{% static 'dataapp/js/jquery.js' %}"></script>
    <script src="{% static 'dataapp/js/carroCompra.js' %}"></script>

</body>

</html>